spring:
  profiles:
    active: local

  config:
    import: optional:file:.env[.properties]

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

fcm:
  # Docker에서 넘겨준 값이 없으면 null
  secret-string: ${FCM_SECRET_STRING}
